* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Permanent Marker", cursive;
}

.img-container {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 1;
  display: block;
  background-image: url(./img/1000_F_128911551_iw2MUFHQp1jgY8c2C1JCrFNjWTXP32sb.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  filter: blur(7px);
}

.container {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 2;
  margin-left: 20px;
  margin-right: 20px;
  display: grid;
  grid-template-areas:
    " header header"
    "input input"
    "ul ul";
  grid-template-rows: 2fr 1fr 1fr 6fr;
  justify-content: center;
  text-align: center;
  gap: 2rem;
}

.header {
  margin-top: 5rem;
  grid-area: header;
  font-size: 1.5rem;
}

.input input {
  width: 20rem;
  height: 2rem;
  border-radius: 7px;
}

.input button {
  height: 2rem;
  border-radius: 7px;
  cursor: pointer;
}

.input button:hover {
  background-color: #ccc;
}

#res {
  grid-area: ul;
}
